nav {
    display: flex;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0.3);
    align-content: center;
    justify-content: center;
    padding: 16px 0
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

li:hover:not(.selected) {
    color: dodgerblue;
}

.selected {
    color: skyblue;
}