nav {
    display: flex;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0.3);
    align-content: center;
    justify-content: center;
    height: var(--appbar-height);
}

ul {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

li:hover:not(.selected) {
    color: dodgerblue;
}

.selected {
    color: skyblue;
}