.home-container {
    display: flex;
    flex-direction: column;
}

.home-front {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-left: 48px;
    padding-right: 48px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    padding: 0 48px
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.name {
    color: dodgerblue;
    font-weight: 600;
}

section {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p {
    padding-top: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
    width: 50vw
}

.pfp-container {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 50%;
    align-self: center;
    border-radius: 50%;
}

.contacts-container {
    padding-top: 3rem;
    display: grid;
    row-gap: 1.5rem;
    column-gap: 2.5rem;
    grid-template-columns: min-content min-content;
}

.contact-attribute {
    font-size: 1.5rem;
    font-weight: 500;
}

.contact-value {
    font-size: 1.5rem;
    font-weight: 300;
    color: skyblue;
}

.contact-value a {
    color: skyblue;
    font-style: normal;
}

.contact-value a:hover {
    color: dodgerblue;
    font-style: normal;
}