.home-container {
    height: 100%;
    line-height: 0.9;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: roboto, consolas, monospace;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    font-family: roboto, consolas, monospace;
}

.name {
    color: dodgerblue;
}