.projects-container {
    display: flex;
    width: 100%;
}

#project-list {
    display: flex;
    flex: 1;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    overflow-y: auto;
}

.project-item {
    display: flex;
    background-color: rgba(255, 255, 255, 0.0375);
    padding: 16px;
    margin: 0 16px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.project-name {
    color: skyblue;
    padding-bottom: 12px;
    font-size: 1.125rem
}

.project-description {
    text-wrap: wrap;
    font-size: 1rem;
    color: white;
    margin: 0;
    padding-bottom: 12px;
}

.project-links-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    padding-bottom: 12px;
}

.project-link {
    display: flex;
    align-items: center;
    border-radius: 500px;
    color: currentColor;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px 0.5rem;
    cursor: pointer;
}

.project-link-icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    padding-right: 0.5rem;
}