.skills-container {
    display: flex;
    width: 100%;
}

#skill-list {
    flex: 1;
    display: grid;
    justify-content: space-evenly;
    align-content: first baseline;
    grid-template-columns: repeat(auto-fill, 16rem);
    gap: 1.5rem;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 16px 0px;
}

.skill-item {
    display: flex;
    justify-content: center;
    width: 16rem;
    background-color: rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    border-radius: 8px;
}